:root {
  --background-color-middle: #8055ff;
  --background-color-day-white: #ffffff;
  --background-color-day-light-blue: #bad8f5;
  --background-color-day-blue: #459df5;
}

.radio__input {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--background-color-day-white);
  border: 0.0625rem solid var(--background-color-day-light-blue);
  border-radius: 50%;
  box-sizing: border-box;
}

.radio__input:checked {
  border: 0.25rem solid var(--background-color-day-blue);
}
