:root {
    --background-color-middle: #8055FF;
    --background-color-day-white: #FFFFFF;
    --background-color-day-light-blue: #BAD8F5;
    --background-color-day-blue: #459DF5;
}

.radio__input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--background-color-day-white);
    border: 0.0625rem solid var(--background-color-day-light-blue);
    border-radius: 50%;
    box-sizing: border-box;
}

.radio__input:checked {
    border: 0.25rem solid var(--background-color-day-blue);
}